mixin customCheckbox({text, name, isChecked, isDisabled})
  .custom-checkbox
    label.custom-checkbox__label
      input.custom-checkbox__input(
        class=`${isDisabled ? 'custom-checkbox__input--disabled' : ''}`
        type='checkbox'
        name=name
        id=name
        checked=isChecked
        disabled=isDisabled
      )
      span.custom-checkbox__checkmark-square-border
        span.custom-checkbox__checkmark-outer-item
        span.custom-checkbox__checkmark-inner-item
      span.custom-checkbox__text=text
