mixin customCheckbox(title, name, isChecked, isDisabled)
  .custom-checkbox
    label
      div(class=`${isDisabled ? 'custom-checkbox__input--disabled' : 'custom-checkbox__input'}`)
        input(type='checkbox' name=name id=name checked=isChecked disabled=isDisabled)
        div.custom-checkbox__input-border
          div.custom-checkbox__checkmark-outer
            div.custom-checkbox__checkmark-inner
      .custom-checkbox__label
        span.custom-checkbox__title=title
