mixin customTextField({type, name, value, placeholder, titleLabel, statusLabel, isHovered})
  .custom-text-field
    label.custom-text-field__label
      if (titleLabel || statusLabel)
        span.custom-text-field__header
          span.custom-text-field__label-primary=titleLabel
          span.custom-text-field__label-secondary=statusLabel
      span.custom-text-field__display(class=`${isHovered ? 'custom-text-field__display--focused' : ''}`)
        input.custom-text-field__input(type=type name=name placeholder=placeholder value=value)
