mixin richCheckboxButton(title, description, name, isChecked)
  .rich-checkbox-button
    label.rich-checkbox-button__label
      .rich-checkbox-button__checkmark
        input.rich-checkbox-button__input(type='checkbox' name=name id=name checked=isChecked)
        div.rich-checkbox-button__checkmark-border
          div.rich-checkbox-button__checkmark-outer
            div.rich-checkbox-button__checkmark-inner
      .rich-checkbox-button__title
        span.rich-checkbox-button__text=title
    .rich-checkbox-button__description
      span=description
