include ../custom-checkbox/custom-checkbox
include ../svg-icon/svg-icon

mixin expandableCheckboxList({title, name, items, isOpened})
  .expandable-checkbox-list
    input.expandable-checkbox-list__input(
      type='checkbox'
      name=`expandable-checkbox-list-${name}`
      id=`expandable-checkbox-list-${name}`
      checked=isOpened
    )
    label.expandable-checkbox-list__label(for=`expandable-checkbox-list-${name}`)
      span.expandable-checkbox-list__header
        span.expandable-checkbox-list__title=title
        span.expandable-checkbox-list__expand-icon
          +svgIcon({name: 'expand-more-light', width: 13, height: 8})
        span.expandable-checkbox-list__hide-icon
          +svgIcon({name: 'hide-light', width: 12, height: 8})
    .expandable-checkbox-list__list
      each item in items
        +customCheckbox({
          text: item.title,
          name: `expandable-checkbox-list-${name}-${item.name}`,
          isChecked: item.isChecked,
          isDisabled: false
        })
