mixin pagination(pagesCount, activePage, totalPagesCount)
  - const startPages = [1, 2, 3];
  - const endPages = [pagesCount - 2, pagesCount - 1, pagesCount];
  - const paginationLabelPagesCount = totalPagesCount <= 100 ? totalPagesCount : '100+';
  .pagination
    ul.pagination__list
      if activePage > 1
        li.pagination__page.pagination__page--prev
          button.pagination__page-button
            include arrow_backward.svg
      if activePage <= 3
        each page in startPages
          li.pagination__page(class=`${activePage === page ? 'pagination__page--current' : ''}`)
            button.pagination__page-button=page
        li.pagination__boundary ...
        li.pagination__page
          button.pagination__page-button=pagesCount
      if (activePage > 3 && activePage <= pagesCount - 3)
        li.pagination__page
          button.pagination__page-button 1
        li.pagination__boundary ...
        li.pagination__page.pagination__page--current
          button.pagination__page-button=activePage
        li.pagination__boundary ...
        li.pagination__page
          button.pagination__page-button=pagesCount
      if activePage > pagesCount - 3
        li.pagination__page
          button.pagination__page-button 1
        li.pagination__boundary ...
        each page in endPages
          li.pagination__page(class=`${activePage === page ? 'pagination__page--current' : ''}`)
            button.pagination__page-button=page
      if activePage < pagesCount
        li.pagination__page.pagination__page--next
          button.pagination__page-button
            include arrow_forward.svg
    .pagination__label
      span.pagination__text=`1 – ${pagesCount} из ${paginationLabelPagesCount} вариантов аренды`
